body {
  background-color: #f7f4f0;
  padding-left: 15px;
}

.tableContainer {
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  background-color: #fefddf;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 5px;
  min-width: 240px;
}

td, th {
  border: 1px solid #bbb;
  padding: 8px;
  padding-right: 14px;
}

tr:nth-child(even){background-color: #cae6c3}

tr:hover {background-color: #a6b4a4}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
